@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #1b84d6;
  --secondary-color: #07177a;
  --white: #ffffff;
  --shady-white: #d8e2ef;
  --black: #252525;
  --bg-color: #edf2f9;
  --gray: #36454f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color) !important;
}

.topBarLogo .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.topBarLogo .logo-details .icon {
  transition: all 0.5s ease;
}

.topBarLogo .logo-details .logo_name {
  color: #1b84d6 !important;
  font-size: 20px;
  font-weight: 600;

  transition: all 0.5s ease;
}

.lineBreak {
  border-bottom: 2px solid var(--shady-white);
  display: block;
  margin: auto;
}
